
    $dark-gray: hsl(0, 0%, 63%);
    $black: hsl(0, 0%, 0%);
    $white: hsl(0, 0%, 100%);
    $darker-gray: hsl(0, 0%, 27%);
    $pri-font: 12px;
    
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        
    }
    
    
    
    body{
        position: relative;
    
        &.show-nav-bar::before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0px;
            background-color: rgba(7, 7, 7,0.3);
            width: 100%;
            height: 100%;
        }
    }
    
    .header-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    
        header{

             position: relative;
            .slide{

                  

                &.a{
                    width: 100%;
                    height: 100%;
                    background:center center/cover no-repeat url('/images/desktop-image-hero-2.jpg');
                    position: absolute;
                    transform: translateX(100%);
    
                    &.swipe-left{
                      animation: swipeleft 1s ease-in-out forwards;
                    }
                    &.swipe-right{
                        animation: swiperight 1s ease-in-out forwards;
                    }
                }
                &.b{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background:center center/cover no-repeat url('/images/desktop-image-hero-3.jpg');
                    transform: translateX(100%);
                    &.swipe-left{
                        animation: swipeleft 1s ease-in-out forwards;
                    }
                    &.swipe-right{
                        animation: swiperight 1s ease-in-out forwards;
                    }
                }
           
            }
            background: center center/cover no-repeat url("/images/desktop-image-hero-1.jpg");
            width: 100%;
            flex-basis: 70%;
            text-align: right;
            display: flex;
            justify-content: center;
            
            .nav-btn{
                display: inline-block;
                position: absolute;
                left: 1rem;
                margin: 1.9rem 0;
                width: 25px;
                height: 20px;
                background:no-repeat center center/cover url('/images/icon-hamburger.svg');
                border: none;
                &:hover{
                    cursor: pointer;
                }
            }
    
            .logo{
                color: $white;
                position: absolute;
                margin: 2rem 0;
                font-weight: 900;
                text-decoration: underline;

                &:hover{
                    cursor: pointer;
                }
                
            }
    
            ul{
                 background-color: white;
                 display: inline-block;
                 width: 100%;
                 position: absolute;
                 
                 
                 
                 transform: translateY(-100px);
                 
                 
    
                &.show-nav-bar{
                    
                    animation: nav-bar-slide-in 0.2s ease-in-out forwards;
                }
                &.hide-nav-bar{
                    animation: nav-bar-slide-out 0.2s ease-in-out forwards;
                } 
    
                
    
                .close-btn{
                    display: inline-block;
                    position: absolute;
                    left: 2rem;
                    top: 2.37rem;
                    width: 15px;
                    height: 15px;
                    border: none;
                    background:no-repeat center center/cover url('/images/icon-close.svg');
    
                    &:hover{
                        cursor: pointer;
                    }
                }
                 
                li{
                    
                    display: inline-block;
                    color: $black;
                    margin: 2.5rem 0.5rem;
                    font-size: $pri-font;
    
                    &:hover{
                        cursor: pointer;
                    }

                    .nav-item{
                      text-decoration: none;
                      color: $black;
                    }
    
                 
                }
    
                .logo{
                    font-size: 22px;
                  }
            }
           
        }
    
       
        aside{
            
            padding: 3rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
    
            h1{
                margin: 0rem 0 1rem 0;
                font-size: 25px;
            }
    
            p{
                font-size: $pri-font;
                color: $dark-gray;
            }
    
            p{
                font-size: $pri-font;
                color: $dark-gray;
            }
    
            .shop-cont{
                width: 100%;
                
                .shop-now-txt{
                    margin: 2rem 0 0 0;
                    letter-spacing: 8px;
                    display: inline-block;
        
                    &:hover{
                        cursor: pointer;
                    }
                
            
                }
                .arrow{
                    position: relative;
                    top: 10%;
                    width: 50px;
                    display: inline-block;
                    height: 40%;
                    background:no-repeat center url('/images/icon-arrow.svg');
    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
    
            .btn{
                &.right{
                    width: 10%;
                    height: 20%;
                    position: absolute;
                    left: 90%;
                    bottom: 100%;
                    background:$black no-repeat center url('/images/icon-angle-right.svg');
                }
                &.left{
                    width: 10%;
                    height: 20%;
                    position: absolute;
                    left: 80%;
                    bottom: 100%;
                    background:$black no-repeat center url('/images/icon-angle-left.svg');
                }
    
                &:hover{
                    background-color: $darker-gray;
                    cursor: pointer;
                    
                }
    
             
            }
        
        }
       
    }
    
    .body-container{
      display: flex;
      flex-direction: column;
    
        .img1{
            width: 100%;
           
        }
    
        section{
            padding: 3rem;
            
            
            h1{
              font-size: 13px;
              margin: 0rem 0 1rem 0;
              word-spacing: 8px;
            }
            p{
                font-size: $pri-font;
                color: $dark-gray;
            }
    
          
        }
    
        .img2{
            width: 100%;
        }
    }
    
  
    
    /*Animations*/
    
    @keyframes nav-bar-slide-in{
        from{
           transform: translateY(-100px)
        }
        to{
            transform: translateY(0px)
        }
    }
    
    @keyframes nav-bar-slide-out{
        from{
           transform: translateY(0px)
        }
        to{
            transform: translateY(-100px)
        }
    }

    @keyframes swipeleft {
        from{transform: translateX(100%);}
        to{transform: translateX(0%);}
    }
    
    @keyframes swiperight{
        from{transform: translateX(0%);}
        to{transform: translateX(100%);}
    }